/* header */

.wrapper {
  display: grid;
  text-align: center;
  color: var(--text);
}

header {
  background-color: var(--background);
}

.title {
  padding-block: 0.4em;
  font-size: var(--medium);
}

.navBar {
  display: grid;
  grid-auto-flow: column;
  font-size: var(--small);
}

.navBar > h3 {
  background-color: var(--primary);
  color: var(--text);
  cursor: pointer;
  transition: all, 0.4s;
  padding: 0.3em;
}

.navBar > h3:hover {
  background-color: var(--primary-hover);
  color: var(--text-hover);
}

.searchWrapper {
  display: flex;
  justify-content: end;
}
.searchWrapper > input {
  padding: 0.4em;
  width: 100%;
  border: none;
  transition: all, 0.4s;
}

svg {
  background-color: #fff;
  cursor: pointer;
  width: 2.9em;
  border-left: 1px solid gray;
  padding: 10px;
  transition: all, 0.4s;
}

input:hover,
svg:hover {
  background-color: rgb(217, 215, 215);
}

/* header end */

/* main */

main {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1em;
  padding: 2em;
  background-color: var(--background);
}
