.wrapper {
  background-color: var(--primary);
  color: var(--text);
  padding: 1em;
  display: grid;
  justify-items: center;
  border-radius: 0.25em;
  transition: all, 0.4s;
  text-align: start;
  box-shadow: var(--shadow);
  font-size: var(--small);
}

.wrapper:hover {
  background-color: var(--accent);
  color: var(--text-hover);
  cursor: pointer;
  transform: translateY(-4px);
}

img {
  border: 1px solid rgb(162, 161, 161);
  border-radius: 0.25em;
}

.description {
  padding: 0.6em;
}
