.wrapper {
  padding: 4em;
  background-color: var(--background);
}

.cartWrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  border-radius: 0.25em;
  overflow: hidden;
  min-height: 600px;
}

.itemWrapper {
  padding: 1em;

  background-color: var(--background-clear);
}

.heading {
  padding: 1em;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.summaryWrapper {
  padding: 1em;
  background-color: var(--secondary);
  color: var(--text);
}

.shipping {
  padding-block: 1em;
  display: grid;
  gap: 0.2em;
}

.discount {
  padding-block: 1em;
  display: grid;
  gap: 0.2em;
}
.discount > input {
  border: none;
  border-radius: 0.25em;
  transition: all, 0.4s;
}

.discount > input:hover {
  box-shadow: var(--shadow);
}
.total {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding-block: 1em;
  gap: 0.2em;
}

.checkout {
  grid-column: span 2;
  transition: all, 0.4s;
  border: 2px solid rgb(169, 167, 167);
  border-radius: 0.25em;
  transition: all, 0.4s;
}

.checkout:hover {
  background-color: black;
  color: var(--accent);
  box-shadow: var(--shadow-s);
}
