.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.navbar {
  background-color: var(--secondary);
  border-right: 1px solid rgb(65, 64, 101);
  padding: 1em;
  gap: 1em;
  display: flex;
  flex-direction: column;
  font-size: var(--small);
}

.link {
  /* border: 1px solid rgb(78, 78, 78); */
  border-radius: 0.25em;
  text-decoration: none;
  background-color: var(--primary);
  color: var(--text);
  text-align: center;
  padding: 0.4em;
  transition: all, 0.4s;
}

.link:hover {
  background-color: var(--accent);
  color: var(--text-hover);
}
